@import 'mixins';

#logo {
  font-family: $logoFont;
  font-size: 26pt;
  color: $textColor;
  opacity: 1;
  // margin-bottom: 25px;
}

#logo:hover {
  text-decoration:none;
}

.signup {
  padding-top:24px;
  text-align: right;

  a {
    font-family: $mainFont  ;
    font-size: 18pt;
    color: $textColor;
    text-decoration:none;
    opacity: 1;
  }
}

.footer {
  text-align: center;

  a {
    color: $textColor;
  }
}