<%= render 'layouts/nav' %>
  
<div class="container before-footer">
  <div class="col-md-6 col-md-offset-3 site-section">
    <br>
    <p class="lead">- MISSION -</p> 
    <p>To bring together people with common health problems and performance goals. We believe groups of people can provide more powerful medicine than even the best doctor or coach.</p>
  </div>

  <div class="col-md-6 col-md-offset-3 site-section">
    <p class="lead">- HOW IT WORKS -</p> 
    <p> Through the power of knowledge sharing, experimentation and rich data, we can all achieve vitality.</p>
    <p> Join an experiment. Create an experiment. Join Groups. Share knowledge, track progress, see collective group data and results.</p>
  </div>

<!--   <div class="hidden-xs hidden-sm col-md-6 quote">
    <p>"All life is an experiment. The more experiments the better!"<cite title="Source Title"> - Ralph Waldo Emerson</cite></p>
  </div> -->
</div>

<%= render 'layouts/footer' %>