<!DOCTYPE html>
<html>
  <head>
    <title>ITS BETA - Landing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
   <div class="container">
    	<div class="row">        
			<header id="logo">
                <div class="col-md-12 col-sm-12">
                    
                    <a href="#" title="its beta">more&nbsp&nbsp&nbsp&nbsp<br>try ^ things</a>
                </div><!--/12-->
			</header>

            <section id="marketing-text">
                <div class="col-md-12 col-sm-12">
                	<h1>Stay tuned, we are launching very soon...</h1>
                    <p>ITS BETA is working hard to launch a new site that's going to revolutionize the way you do business. Leave us your email below, and we'll notify you the minute we open the doors.</p>
                </div><!--12-->
            </section><!--/marketing-text-->  

            <section id="subscribe" class="clearfix">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                     <div class="row">
                        <form role="form" action="http://doozypixels.createsend.com/t/d/s/xky/" method="post">
                            <div class="col-md-7 col-sm-7"><input type="email" id="fieldEmail" name="cm-xky-xky" class="form-control input-lg" placeholder="Email Address" required /></div><!--7-->
                            <div class="col-md-5 col-sm-5 "><button class="btn btn-block btn-lg btn-theme">Subscribe</button></div><!--5-->
                        </form>
                    </div><!--row-->
                </div><!--/6-->
            </section><!--subscribe-->  
            
            <section id="features">
                <div class="col-md-3 col-sm-3">
                    <div class="feature-box">
                        <i class="fa fa-flag"></i>                            
                        <h2>Responsive Theme</h2>
                        <p>Talk about one of the biggest features that your new website is going to have.</p>
                    </div><!--feature-box-->
                </div><!--/3-->
                
                <div class="col-md-3 col-sm-3">
                    <div class="feature-box">
                        <i class="fa fa-flag"></i>                            
                        <h2>Font Awesome Icons</h2>
                        <p>Talk about one of the biggest features that your new website is going to have.</p>
                    </div><!--feature-box-->
                </div><!--/3-->
                
                <div class="col-md-3 col-sm-3">
                    <div class="feature-box">
                        <i class="hicon fa fa-envelope"></i>                            
                        <h2>Subscribe Signup Forms</h2>
                        <p>Theme supports two different email signup forms Mail Chimp &amp; Campaign Monitor</p>
                    </div><!--feature-box-->
                </div><!--/3-->
                
                <div class="col-md-3 col-sm-3">
                    <div class="feature-box">
                        <i class="fa fa-font"></i>                            
                        <h2>Google Web Fonts</h2>
                        <p>Talk about one of the biggest features that your new website is going to have.</p>
                    </div><!--feature-box-->
                </div><!--/3-->
            </section><!--features-->

			<footer>            
                <div class="col-md-12 col-sm-12">
                	<p class="social-text">
                        <span></span>
                        <i>For more details leading up to our launch <br/>check our below profiles</i>
                    </p>
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-inbox"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-angellist"></i></a>
                    </div>
                    <small><i>&copy;2015 Crowd Vitality. All rights reserved.</i></small>
                </div><!--/12-->
            </footer>
        
        </div><!--/row-->
    </div><!--/container-->
  </body>
</html>