<div class="before-footer">
</div>

<footer class="navbar-xs navbar-default navbar-fixed-bottom footer" role="navigation">
  <div class="container-fluid">
    <%= link_to "Home", root_path %> ·
    <a href="#">About</a> ·
    <%= link_to "Newsletter", mc_signup_path %> ·
    <a href="mailto:mike@crowdvitality.com">Contact</a>  
  </div>
</footer>